<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update Trade</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/trade/update/{id}(id=${trade.tradeId})}" th:object="${trade}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to edit the values of Trade, there are 2 buttons: Update data and Cancel to the Trade List
			 -->
			<div class="form-group">
				<label for="account" class="col-sm-5 control-label ">Account</label>
				<div class="col sm-10">
					<input type="text" id="account" placeholder="Account" th:field="*{account}">
					<p th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></p>
				</div>
			</div>

			<div class="form-group">
				<label for="type" class="col-sm-5 control-label ">Type</label>
				<div class="col sm-10">
					<input type="text" id="type" placeholder="Type" th:field="*{type}">
					<p th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
				</div>
			</div>

			<div class="form-group">
				<label for="buyQuantity" class="col-sm-5 control-label ">Buy quantity</label>
				<div class="col sm-10">
					<input type="text" id="buyQuantity" placeholder="Buy quantity" th:field="*{buyQuantity}">
				</div>
			</div>

			<div class="form-group">
				<label for="sellQuantity" class="col-sm-5 control-label ">Sell Quantity</label>
				<div class="col sm-10">
					<input type="text" id="sellQuantity" placeholder="Sell Quantity" th:field="*{sellQuantity}">
				</div>
			</div>

			<div class="form-group">
				<label for="buyPrice" class="col-sm-5 control-label ">Buy Price</label>
				<div class="col sm-10">
					<input type="text" id="buyPrice" placeholder="buyPrice" th:field="*{buyPrice}">
				</div>
			</div>

			<div class="form-group">
				<label for="sellPrice" class="col-sm-5 control-label ">Sell Price</label>
				<div class="col sm-10">
					<input type="text" id="sellPrice" placeholder="Sell Price" th:field="*{sellPrice}">
				</div>
			</div>

			<div class="form-group">
				<label for="tradeDate" class="col-sm-5 control-label ">Trade Date</label>
				<div class="col sm-10">
					<input type="datetime" id="tradeDate" placeholder="Trade Date" th:field="*{tradeDate}" readonly>
				</div>
			</div>

			<div class="form-group">
				<label for="security" class="col-sm-5 control-label ">Security</label>
				<div class="col sm-10">
					<input type="text" id="security" placeholder="Security" th:field="*{security}">
				</div>
			</div>

			<div class="form-group">
				<label for="status" class="col-sm-5 control-label ">Status</label>
				<div class="col sm-10">
					<input type="text" id="status" placeholder="Status" th:field="*{status}">
				</div>
			</div>

			<div class="form-group">
				<label for="trader" class="col-sm-5 control-label ">Trader</label>
				<div class="col sm-10">
					<input type="text" id="trader" placeholder="Trader" th:field="*{trader}">
				</div>
			</div>

			<div class="form-group">
				<label for="book" class="col-sm-5 control-label ">Book</label>
				<div class="col sm-10">
					<input type="text" id="book" placeholder="Book" th:field="*{book}">
				</div>
			</div>

			<div class="form-group">
				<label for="creationName" class="col-sm-5 control-label ">Creation Name</label>
				<div class="col sm-10">
					<input type="text" id="creationName" placeholder="Creation Name" th:field="*{creationName}">
				</div>
			</div>

			<div class="form-group">
				<label for="creationDate" class="col-sm-5 control-label ">Creation Date</label>
				<div class="col sm-10">
					<input type="datetime" id="creationDate" placeholder="Creation Date" th:field="*{creationDate}" readonly>
				</div>
			</div>

			<div class="form-group">
				<label for="revisionName" class="col-sm-5 control-label ">Revision Name</label>
				<div class="col sm-10">
					<input type="text" id="revisionName" placeholder="Revision Name" th:field="*{revisionName}">
				</div>
			</div>

			<div class="form-group">
				<label for="revisionDate" class="col-sm-5 control-label ">Revision Date</label>
				<div class="col sm-10">
					<input type="datetime" id="revisionDate" placeholder="Revision Date" th:field="*{revisionDate}" readonly>
				</div>
			</div>

			<div class="form-group">
				<label for="dealName" class="col-sm-5 control-label ">Deal Name</label>
				<div class="col sm-10">
					<input type="text" id="dealName" placeholder="Deal Name" th:field="*{dealName}">
				</div>
			</div>

			<div class="form-group">
				<label for="dealType" class="col-sm-5 control-label ">Deal Type</label>
				<div class="col sm-10">
					<input type="text" id="dealType" placeholder="Deal Type" th:field="*{dealType}">
				</div>
			</div>

			<div class="form-group">
				<label for="sourceListId" class="col-sm-5 control-label ">Source List Id</label>
				<div class="col sm-10">
					<input type="text" id="sourceListId" placeholder="Source List Id" th:field="*{sourceListId}">
				</div>
			</div>

			<div class="form-group">
				<label for="side" class="col-sm-5 control-label ">Side</label>
				<div class="col sm-10">
					<input type="text" id="side" placeholder="Side" th:field="*{side}">
				</div>
			</div>

			<div class="form-group">
				<div class="col sm-10">
					<a href="/trade/list" id="cancel" name="cancel" class="btn btn-danger btn-sm" style="background: #dc3545"/>Cancel</a>
					<input type="submit" class="btn btn-primary btn-sm" id="submit" name="_submit" style="background:#007bff" value="Update Trade">
				</div>
			</div>

		</form>
	</div>

</div>
</body>
</html>